@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#fff159;
    font-family: 'Roboto Condensed', sans-serif;
}
  a {
    text-decoration: none;
    display: inline;
    color: rgb(0, 0, 0);
}
.home-body {
    position:fixed; /*para que no haya scroll de forma sencilla*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;  
}
.grid-container {
    max-width: 980px;
    margin: auto; /*cuando hay mucho espacio del lado lateral, divide el espacio de left y right pare*/
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    
}
header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

nav {
    display: grid;
    grid-template-columns: 1 fr 1 fr;
    height: 40px;
   }
nav .nav-logo-container {
    margin-left: 30px;
    height: 30px;
}
nav .milogo{
    margin-top: 10px;
    width: 200px;
    height: 60px;
}
nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .profile-link a {
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    
}
.home-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fimg07.deviantart.net%2Fc93f%2Fi%2F2016%2F019%2F5%2F6%2Feat__sleep__code__repeat__alternative_version__by_johnslegers-d9ojp49.png&f=1&nofb=1");
    background-position: center;
	background-size: cover;
	background-attachment: fixed;
    background-color: #fff159;
}
.home-main section {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 80px;
}
.home-main-text {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 10px;
    text-align: center;
    color: white;
}
.home-main-text2 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 10px;
    text-align: center;
    color: white;
}
.home-main-button {
    width: 110px;
    height: 50px;
    background: #fff159 ;
    display: grid;
    align-items: center;
    border-radius: 10px;
}
.home-main-button a {
    font-weight: 700;
    font-size: 1rem;
}

.blogs-main {
    display: grid;
}
.blogs-news-container {
  background-color: #ebebeb;
  padding: 0 50px 40px;
}
.blogs-main-news {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}
.blogs-news-img-container {
    grid-column: 1;
}
.blogs-news-img-container img {
    width: 90%;
 }
.blogs-news-info-container {
    grid-column: 2;
}
.blogs-news-info-container p {
    margin-bottom: 35px;
}

.blogs-posts-container {
    padding: 0 50px 40px;
    text-align: center;
}
.blogs-posts-container h3 {
    border-bottom: 1px solid;
    padding-bottom: 20px;
    text-align: center;
}
.blogs-button {
    border: 3px solid #fff159;
    border-radius: 10px;
    padding: 10px 15px;

}
.blogs-posts-container .post-container {
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
    text-align:left;
}
.blogs-posts-container .post-container p {
    margin-bottom: 35px;
    text-align: center;
}
.blogs-posts-container .post-container img {
    width: 100%;
    height: 150px;
}
.blogss-button {
    border: 3px solid #ffffff;
    border-radius: 10px;
    padding: 10px 15px;
}
footer {
    width: 100%;
    height: 80px;
    background-color:rgb(255, 255, 255) ;
    border-top:5px solid #ededed;
    text-align: center;
}
footer p {
    color: #666;
    margin-top: 30px;
}

/*aca pone los estilos para tu presentación y abajo el footer de contacto*/
.contact-main-container {
 width: 100%;
 min-height: 250px;
 background-color: #e6e9ed;
 text-align: center;
 padding-bottom: 50px;
 }
.contact-main-container div {
    display: inline-block;
    width: 49.5%;
    height: 100%;
}
.contact-main-container div a {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.contact-main-container .contact-left, .contact-right {
 text-align: initial;
 margin-top: 85px;
}
.contact-main-container img {
    width: 100px;
}
.profile-main-container {
    border-top: 3px solid white ;
    padding: 70px 40px;
    background-color: #fff159;
    margin-bottom: 50px;
}
.profile-main-container img {
 width: 300px;
 margin-right: 30px;
}
.profile-main-container .profile-container {
    display: flex;
    margin-left: 30px;
}
.profile-main-notes {
 padding: 0 50px 40px;
}
.settings {
 text-decoration: underline;
}
.profile-main-notes h3 {
    border-bottom: 1px solid #666;
    padding-bottom: 35px;
    text-align: center;
}
.notes-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.note-container {
    padding: 0 5px;
}
