@media (max-width: 780px) {

    .blogs-news-container{
        display: block;
    }

    .blogs-news-img-container img{
        width: 100%;
    }

    .post-container {
        max-width: 45%;
    }
}
@media (max-width: 600px) {
.notes-main-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
}
}
.note-main-container .note-container {
    display: block;
}

@media (max-width:600px) {
    .blogs-posts-container .post-container {
        max-width: 95%;
    }
}
